.webtory-message {
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  background-color: #ffffff;
}

.webtory-first-text::before {
  content: "🌹";
}

.webtory-last-text::after {
  content: "😍";
}
